.region {
    color: transparent;
}

._stark {
    color: white;
}

._lanister {
    color: red;
}

._baratheon {
    color: yellow;
}
._martell {
    color: orange;
}

._tyrell {
    color: green;
}

._greyjoy {
    color: grey;
}

.region__form {
    opacity: 0.7;
}

.region._stark {
    color: white;
}

.region._lanister {
    color: red;
}

.region._baratheon {
    color: yellow;
}
.region._martell {
    color: orange;
}

.region._tyrell {
    color: green;
}

.region._greyjoy {
    color: grey;
}